.wrapper{
  width: 800px;
  height: 800px;
  background-color: rgb(79,255,227);
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.map{
  width: 700px;
  height: 700px;
  background-color: rgb(242,243,244);
  margin: 15px auto;
}