@media only screen and (max-width: 600px) {
  header {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: x-large;
  }

  .info, .head {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 1.5em;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
  }

  .pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%; 
    height: auto;
  }

  .cheesecake, .cupcake, .santa {
    border-radius: 5%;
    background-color: rgb(79,255,227);
    padding: 20px;
    margin-bottom: 20px
  }
}