@media only screen and (max-width: 400px) {
  .cover{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
  
  .witch, .magic, .fever{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
  }
  
  .about, .education, .skill, .work, .info{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 100%;
  }
  
  .cover, .pictures{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .cheesecake, .santa, .cupcake{
    font-size: small;
    border-radius: 4px;
    padding: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .cover{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
  
  .witch, .magic, .fever{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 100%;
  }
  
  .about, .education, .skill, .work, .info{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    font-size: 100%;
  }
  
  .cover, .pictures{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .cheesecake, .santa, .cupcake{
    font-size: small;
    border-radius: 4px;
    padding: 10px;
  }
}  