.nav {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  background-color: rgb(181,230,255);
  text-align: center;
}

.nav ul {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
}

.nav li {
   display:inline;
}

a:link, a:visited {
  color: rgb(179,27,27);
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

header {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: x-large;
}

.info, .head {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.pictures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%; 
  height: auto;
}

.cheesecake, .cupcake, .santa {
  border-radius: 5%;
  background-color: rgb(79,255,227);
  padding: 20px;
  margin-bottom: 20px
}

body {
  background-color: rgb(206,255,247);
}

.about, .education, .skill, .work {
	font-size: 1.2em;
  font-weight: 500;
	font-family: 'EB Garamond', serif;  
  text-align: left;
}

.icon ul {  
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
}

.icon li {
  display:inline;
}

video {
  max-width: 100%;
  height: auto;
}

.cover {
  width: 50%;
  min-height: 100%;
	float: left;
	font-family: 'Quattrocento Sans', sans-serif; 
	text-align: right;
  font-size: 1.9em;
  text-align: center;
  padding-bottom: 10%;
  position: relative;
}

.witch, .magic, .fever {
  width: 50%;
  min-height: 100%;
	float: right;
	font-size: 2.2em;
	font-family: 'Quattrocento Sans', sans-serif; 
  text-align: left;
  padding-bottom: 10%;
  padding-top: 2%;
  position: relative;
}


.trailer, .book-heading {
  font-size: 2.2em;
	font-family: 'Quattrocento Sans', sans-serif; 
  text-align: center;
  position: relative;
}

a:hover, a:active {
  background-color: rgb(104,204,255);
  text-decoration: none;
}
